{{template "base" .}}
{{define "title"}}
    <title>About</title>
{{end}}
{{define "content"}}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>This is my About page </h1>
            </div>
        </div>
    </div>
{{end}}