{{template "base" .}}
{{define "title"}}
    <title>Home</title>
{{end}} 
{{define "content"}}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>This is my Home page</h1>
            </div>
        </div>
    </div>
{{end}}